<article>
  <h3>{{ article_title }}</h3>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam adipisci consectetur accusamus deleniti alias optio minus id dignissimos ab doloribus.</p>
</article>