<section>
  <h1>404 Page</h1>
</section>

{% schema %}
  {
    "name": "404",
    "settings": [
      {
        "type": "font_picker",
        "id": "heading_font",
        "label": "Heading font",
        "default": "helvetica_n4"
      }
    ]
  }
{% endschema %}