<section>
  <p>THE JOURNAL</p>
  <h2>Article</h2>
</section>

{% schema %}
  {
    "name": "Featured Articles",
    "settings": [
      {
        "type": "font_picker",
        "id": "heading_font",
        "label": "Heading font",
        "default": "helvetica_n4"
      }
    ]
  }
{% endschema %}