<section>
  <p>THE JOURNAL</p>
  <h2>Our process</h2>
  <ul>
    <li>
      {% render 'article-card', article_title: 'Only for the brave' %}
    </li>
    <li>
      {% render 'article-card', article_title: 'OOnly for the best' %}
    </li>
  </ul>
</section>

{% schema %}
  {
    "name": "Featured Articles",
    "settings": [
      {
        "type": "font_picker",
        "id": "heading_font",
        "label": "Heading font",
        "default": "helvetica_n4"
      }
    ]
  }
{% endschema %}